@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 30px auto;
  width: 400px;
}

.container h2 {
  letter-spacing: 2px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 10px;
}

*:focus {
  outline: none;
}

.forms {
  margin-bottom: 25px;
}

.forms form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 10px 0;
  padding: 16px 16px;
  border-radius: 5px;
  background: white;
  transition: box-shadow 0.25s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px, rgba(0, 0, 0, 0.09) 0px 1px 2px;
}

.forms button {
  display: flex;
  color: green;
  background-color: lightgreen;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
}

.forms button:hover {
  background-color: #2ecc71;
}

.forms button span {
  margin-left: 5px;
}

input {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-right: 15px;
  background-color: lightyellow;
}

form {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  float: right;
  font-size: 14px;
  border-radius: 5px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px;
  padding: 16px;
  border-radius: 5px;
  background: white;
  transition: box-shadow 0.25s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px, rgba(0, 0, 0, 0.09) 0px 1px 2px;
}

.card__title {
  margin: 0 0 1em;
  font-weight: 600;
  color: #3d5866;
}

.card__action button {
  display: flex;
  background-color: tomato;
  color: white;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 700;
}

.card__action button:hover {
  background-color: orangered;
}

.card__action button span {
  margin-left: 5px;
}

.subcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

/* Chechbox */
.checkbox {
  appearance: none;
  background-color: lightgrey;
  margin: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: none;
}

.checkbox:hover {
  background-color: lightslategray;
}

.checkbox:checked {
  background-color: #2ecc71;
}

.checkbox:checked:after {
  display: block;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper label {
  color: lightslategrey;
  font-size: 14px;
  margin-left: 5px;
}
